@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-been:before {
	content: "\e000";
}
.flaticon-calendar53:before {
	content: "\e001";
}
.flaticon-email147:before {
	content: "\e002";
}
.flaticon-hospital32:before {
	content: "\e003";
}
.flaticon-jumping28:before {
	content: "\e004";
}
.flaticon-logotype144:before {
	content: "\e005";
}
.flaticon-medical88:before {
	content: "\e006";
}
.flaticon-message30:before {
	content: "\e007";
}
.flaticon-paperplane:before {
	content: "\e008";
}
.flaticon-send4:before {
	content: "\e009";
}
.flaticon-smartphone172:before {
	content: "\e00a";
}
.flaticon-stethoscope:before {
	content: "\e00b";
}
.flaticon-teacher33:before {
	content: "\e00c";
}
.flaticon-user91:before {
	content: "\e00d";
}
